<ng-container *ngIf="currentProperty === 'village' ">
    <div class="ui-g competitorBack" *ngIf="isShowCompetitor">
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <app-product-basic-setting-village [owner]="'competitor'"  [isCompetitor]="isShowCompetitor"></app-product-basic-setting-village>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6 wrap_graph_product">
            <app-product-basic-summary-village [owner]="'competitor'" [ownerData]="productData.competitor"></app-product-basic-summary-village>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-6 ">
            <app-product-basic-setting-village [owner]="'user'"  [isCompetitor]="isShowCompetitor"></app-product-basic-setting-village>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6 wrap_graph_product">
          <app-product-basic-summary-village [owner]="'user'" [ownerData]="productData.user"></app-product-basic-summary-village>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="currentProperty === 'townhome'">
  <div class="ui-g competitorBack" *ngIf="isShowCompetitor" >
      <!-- <div class="ui-g-12 ui-md-12 ui-lg-2"> </div> -->
      <div class="ui-g-12 ui-md-12 ui-lg-7">
          <!-- <app-product-basic-setting-village [owner]="'competitor'"></app-product-basic-setting-village> -->
          <app-product-basic-setting-townhouse [owner]="'competitor'"  [isCompetitor]="isShowCompetitor"></app-product-basic-setting-townhouse>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-5 wrap_graph_product">
          <app-product-basic-summary-townhouse [owner]="'competitor'" [ownerData]="productData.competitor"></app-product-basic-summary-townhouse>
      </div>
  </div>
  <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-7">
          <app-product-basic-setting-townhouse [owner]="'user'"  [isCompetitor]="isShowCompetitor"></app-product-basic-setting-townhouse>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-5 wrap_graph_product">
          <app-product-basic-summary-townhouse [owner]="'user'" [ownerData]="productData.user"></app-product-basic-summary-townhouse>
      </div>
  </div>
</ng-container>

<ng-container *ngIf="currentProperty === 'communityMall'">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-6" *ngIf="isShowCompetitor">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <app-product-basic-setting-hotel [owner]="'competitor'" [isCompetitor]="isShowCompetitor"></app-product-basic-setting-hotel>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                <app-product-basic-summary-hotel [owner]="'competitor'" [ownerData]="productData.competitor"></app-product-basic-summary-hotel>
            </div>
        </div>
        <div class="ui-g-12 ui-md-12" [ngClass]="{'ui-lg-6': isShowCompetitor, 'ui-lg-12':!isShowCompetitor }">
          <div class="ui-g-12 ui-md-12 ui-lg-12">
            <app-product-basic-setting-hotel [owner]="'user'"  [isCompetitor]="isShowCompetitor" [needToRefresh]="needtoRefresh"></app-product-basic-setting-hotel>
          </div>
          <div class="ui-g-12 ui-md-12 ui-lg-12 ">
            <app-product-basic-summary-hotel [owner]="'user'" [ownerData]="productData.user"></app-product-basic-summary-hotel>
          </div>
        </div>
      </div>
</ng-container>

<ng-container *ngIf="currentProperty === 'hotel'">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-6" *ngIf="isShowCompetitor">
          <div class="ui-g-12 ui-md-12 ui-lg-12">
              <app-product-basic-setting-hotel [owner]="'competitor'" [isCompetitor]="isShowCompetitor"></app-product-basic-setting-hotel>
          </div>
          <div class="ui-g-12 ui-md-12 ui-lg-12 ">
              <app-product-basic-summary-hotel [owner]="'competitor'" [ownerData]="productData.competitor"></app-product-basic-summary-hotel>
          </div>
      </div>
      <div class="ui-g-12 ui-md-12" [ngClass]="{'ui-lg-6': isShowCompetitor, 'ui-lg-12':!isShowCompetitor }">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <app-product-basic-setting-hotel [owner]="'user'"  [isCompetitor]="isShowCompetitor" [needToRefresh]="needtoRefresh"></app-product-basic-setting-hotel>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12 ">
          <app-product-basic-summary-hotel [owner]="'user'" [ownerData]="productData.user"></app-product-basic-summary-hotel>
        </div>
      </div>
    </div>
</ng-container>

<ng-container *ngIf="currentProperty === 'condo'">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-6" *ngIf="isShowCompetitor">
          <div class="ui-g-12 ui-md-12 ui-lg-12">
              <app-product-basic-setting-hotel [owner]="'competitor'" [isCompetitor]="isShowCompetitor"></app-product-basic-setting-hotel>
          </div>
          <div class="ui-g-12 ui-md-12 ui-lg-12 ">
              <app-product-basic-summary-hotel [owner]="'competitor'" [ownerData]="productData.competitor"></app-product-basic-summary-hotel>
          </div>
      </div>
      <div class="ui-g-12 ui-md-12" [ngClass]="{'ui-lg-6': isShowCompetitor, 'ui-lg-12':!isShowCompetitor }">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <app-product-basic-setting-hotel [owner]="'user'"  [isCompetitor]="isShowCompetitor" [needToRefresh]="needtoRefresh"></app-product-basic-setting-hotel>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12 ">
          <app-product-basic-summary-hotel [owner]="'user'" [ownerData]="productData.user"></app-product-basic-summary-hotel>
        </div>
      </div>
    </div>
</ng-container>

