<div
  class="ui-g-12 ui-md-12 ui-lg-12"
  style="background: white; margin-top: 10px"
>
  <div
    class="ui-g-3 ui-md-3 ui-lg-1 icon-arrow"
    type="button"
    [ngClass]="{ disabled: start_house === 0 }"
    (click)="decreasedIndex()"
  >
    <i class="pi pi-caret-left"></i>
  </div>
  <div class="ui-g-6 ui-md-6 ui-lg-10">
    <div class="wrap_product_logo">
      <img src="../../../../assets/icons/{{ getImage(start_house) }}" />
      <span>{{ getWordingType(start_house) }}</span>
    </div>
  </div>
  <div
    class="ui-g-3 ui-md-3 ui-lg-1 icon-arrow"
    type="button"
    [ngClass]="{ disabled: start_house === 2 }"
    (click)="increacedIndex()"
    style="text-align: end;"
  >
    <i class="pi pi-caret-right"></i>
  </div>
  <div class="ui-g-12 ui-md-4 ui-lg-3">
    <div class="img-container">
      <img src="../../../assets/images/{{getImageIcon(start_house)}}" class="img-house" />
      <div class="word-img">
        {{ getWordingType(start_house) }}
      </div>
    </div>
    <div class="ui-g bottom-img-box">
      <div class="ui-g-12 ui-md-12 ui-lg-12 word-box">
        <figure><i class="pi pi-home" style="padding-left: 5px"></i></figure>
        <figcaption>
          <p class="type" style="float: left">ประเภทสินทรัพย์ :</p>
          <p style="float: right">{{getNameHouse(start_house)}}</p>
        </figcaption>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 word-box">
        <figure>
          <i class="pi pi-map-marker" style="padding-left: 5px"></i>
        </figure>
        <figcaption>
          <p class="type" style="float: left">พื้นที่ใช้สอย :</p>
          <p style="float: right">120.6 ตร.ม.</p>
        </figcaption>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 word-box">
        <figure>
          <i class="pi pi-money-bill" style="padding-left: 5px"></i>
        </figure>
        <figcaption>
          <p class="type" style="float: left">ราคา :</p>
          <p style="float: right">5,900,000.-</p>
        </figcaption>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-8 ui-lg-9">
    <!-- ข้อมูลการขาย -->
    <div class="ui-g-12 ui-md-12 ui-lg-12 detail">
      <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
      <figcaption>
        <span class="type">รูปแบบการกำหนดยอดขาย</span>
      </figcaption>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box">
      <div
        class="ui-g-12 ui-md-12 ui-lg-2"
        style="text-align: center; margin-top: 5px"
      >
        <span>กำหนดเอง</span>
      </div>

      <div class="ui-g-12 ui-md-12 ui-lg-7" style="text-align: center">
        <p-calendar
          [(ngModel)]="house_type[start_house].cal_sale_start_date"
          dateFormat="mm/dd/yy"
          [showButtonBar]="true"
          [showIcon]="true"
          (onClose)="caculateMonthPeriod(start_house)"
        ></p-calendar>
        <span style="margin: 0 5px">ถึง</span>

        <p-calendar
          [(ngModel)]="house_type[start_house].cal_sale_end_date"
          [minDate]="house_type[start_house].cal_sale_start_date"
          dateFormat="mm/dd/yy"
          [showButtonBar]="true"
          [showIcon]="true"
          (onClose)="caculateMonthPeriod(start_house)"
        ></p-calendar>
      </div>
      <div
        class="ui-g-12 ui-md-12 ui-lg-3"
        style="text-align: center; margin-top: 5px"
      >
        ระยะเวลาขาย {{ house_type[start_house].custom_length_month | number }} เดือน
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 detail">
      <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
      <figcaption>
        <span class="type">ระบุข้อมูลการขาย</span>
      </figcaption>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box-new">
      <div class="ui-g-12 ui-md-4 ui-lg-4" style="margin-top: 5px">
        <span>จำนวนที่ต้องการขาย</span>
      </div>

      <div class="ui-g-12 ui-md-8 ui-lg-8">
        <input
          size="4"
          pKeyFilter="int"
          type="text"
          pInputText
          matInputCommified
          [(ngModel)]="house_type[start_house].quantity_sell"
        />
        <span>หลัง/เดือน</span>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box-new">
      <div class="ui-g-12 ui-md-6 ui-lg-6" *ngFor="let item of house_type[start_house].sale_info; let i = index" >
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
            <span>{{item.name}}</span>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              [(ngModel)]="item.house_number"
              pInputText
              matInputCommified
            />
            <span class="font-unit">หลัง</span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
            <span>ขนาดพื้นที่</span>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
              [(ngModel)]="item.area_size"
              (change)="changeHousePrice(start_house,i)"
            />
            <span class="font-unit">ตร.ว.</span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
            <span>ราคาขายต่อ ตร.ม.</span>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
              [(ngModel)]="item.price_sqm"
              (change)="changeHousePrice(start_house,i)"
            />
            <span class="font-unit">บาท </span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
            <span>ราคาบ้าน</span>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6 non-input">
            <span class="non-input-font">{{item.house_price | number}}</span>
            <span class="font-unit">บาท</span>
          </div>
        </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
          <span>เงินจอง</span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input
            size="8"
            pKeyFilter="int"
            type="text"
            pInputText
            matInputCommified
            [(ngModel)]="item.book_payment"
          />
          <span class="font-unit">บาท </span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
          <span>เงินดาวน์</span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input
            size="8"
            pKeyFilter="int"
            type="text"
            pInputText
            matInputCommified
            [(ngModel)]="item.down_payment"
          />
          <span class="font-unit">บาท </span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
          <span>ค่าทำสัญญา</span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input
            size="8"
            pKeyFilter="int"
            type="text"
            pInputText
            matInputCommified
            [(ngModel)]="item.contract_fee"
          />
          <span class="font-unit">บาท </span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
          <span>ค่าโอนกรรมสิทธิ์</span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input
            size="8"
            pKeyFilter="int"
            type="text"
            pInputText
            matInputCommified
            [(ngModel)]="item.ownership_transfer_fee"
          />
          <span class="font-unit">บาท </span>
        </div>
      </div>
      </div>
    </div>
    <!-- การกู้ -->
    <div class="ui-g-12 ui-md-12 ui-lg-12 detail">
      <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
      <figcaption>
        <span class="type">การกู้ การคำนวนเงินกู้แบงค์</span>
      </figcaption>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box-new">
      <div class="ui-g-12 ui-md-6 ui-lg-6"  *ngFor="let item of house_type[start_house].sale_info; let i = index">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
            <span> เงินดาวน์</span>
          </div>

          <div class="ui-g-12 ui-md-6 ui-lg-6 non-input">
            <span class="non-input-font">{{item.down_payment}}</span>
            <span class="font-unit">บาท</span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
            <span>ดอกเบี้ย</span>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
              [(ngModel)]="item.bank_interest"
            />
            <span class="font-unit">บาท </span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
            <span>ลูกค้าผ่อนต่อเดือน</span>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
              [(ngModel)]="item.bank_monthly_payment"
            />
            <span class="font-unit">บาท </span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <div class="ui-g-12 ui-md-6 ui-lg-6" style="margin-top: 5px">
            <span>จำนวนงวด</span>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-6">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
              [(ngModel)]="item.bank_number_periods"
            />
            <span class="font-unit">งวด </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ข้อมูลการก่อสร้าง -->
    <div class="ui-g-12 ui-md-12 ui-lg-12 detail">
      <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
      <figcaption>
        <span class="type">ข้อมูลการก่อสร้าง</span>
      </figcaption>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box">
      <div
        class="ui-g-12 ui-md-3 ui-lg-3"
        style="text-align: center; margin-top: 5px"
      >
        <span>กำหนดระยะเวลาการก่อสร้าง</span>
      </div>

      <div class="ui-g-12 ui-md-6 ui-lg-6" style="text-align: center">
        <p-calendar
        [(ngModel)]="house_type[start_house].construction_start_date"
          dateFormat="mm/dd/yy"
          [showButtonBar]="true"
          [showIcon]="true"
          placeholder="ระบุเวลา"
          (onClose)="caculateMonthPeriodLower(start_house)"
        ></p-calendar>
        <span style="margin: 0 10px">ถึง</span>

        <p-calendar
          [(ngModel)]="house_type[start_house].construction_end_date"
          [minDate]="house_type[start_house].construction_start_date"
          dateFormat="mm/dd/yy"
          [showButtonBar]="true"
          [showIcon]="true"
          placeholder="ระบุเวลา"
          (onClose)="caculateMonthPeriodLower(start_house)"
        ></p-calendar>
      </div>
      <div
        class="ui-g-12 ui-md-3 ui-lg-3"
        style="text-align: center; margin-top: 5px"
      >
        ระยะเวลาขาย {{ house_type[start_house].construction_periods }} เดือน
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box">
      <div
        class="ui-g-12 ui-md-3 ui-lg-3"
        style="text-align: center; margin-top: 5px"
      >
        <span>อัตราการสร้างต่อหลัง</span>
      </div>

      <div
        class="ui-g-12 ui-md-9 ui-lg-9"
        style="text-align: left; margin-top: 5px"
      >
        <span style="margin-right: 20px; font-weight: 500; color: orange"
          >{{house_type[start_house].construction_per_month | number : '1.0-0'}}</span
        >
        / เดือน
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box-new">
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <div class="ui-g-12 ui-md-6 ui-lg-6 icon-word" style="margin-top: 5px">
          <i class="pi pi-table"></i><span>ค่าก่อสร้างต่อหลัง</span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input
            size="8"
            pKeyFilter="int"
            type="text"
            pInputText
            matInputCommified
            [(ngModel)]="house_type[start_house].construction_per_house"
          />
          <span class="font-unit">บาท</span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6 icon-word" style="margin-top: 5px">
          <i class="pi pi-exclamation-triangle"></i
          ><span>Electrical Supply</span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input
            size="8"
            pKeyFilter="int"
            type="text"
            pInputText
            matInputCommified
            [(ngModel)]="house_type[start_house].construction_electrical_supply"
          />
          <span class="font-unit">บาท</span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <div class="ui-g-12 ui-md-6 ui-lg-6 icon-word" style="margin-top: 5px">
          <i class="pi pi-globe"></i><span>Water Supply</span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input
            size="8"
            pKeyFilter="int"
            type="text"
            pInputText
            matInputCommified
            [(ngModel)]="house_type[start_house].construction_water_supply"
          />
          <span class="font-unit">บาท</span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6 icon-word" style="margin-top: 5px">
          <i class="pi pi-tag"></i><span>Other</span>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <input
            size="8"
            pKeyFilter="int"
            type="text"
            pInputText
            matInputCommified
            [(ngModel)]="house_type[start_house].construction_other"
          />
          <span class="font-unit">บาท</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <button pButton type="button" class="button-click" (click)="save()">
      บันทึกการปรับเปลี่ยน
    </button>
  </div>
</div>
