<div class="text_cover">

    <div class="ui-g">

        <div class="ui-g-12 ui-md-6 ui-lg-6" style="align-self: center;text-align:center;">
            <!-- <app-area-chart [chartName]="settingGraph"></app-area-chart> -->
                <app-charts  *ngIf="!is_loading" [chartType]="'product'" [chartData]="ownerData.products" [owner]="owner"> </app-charts>
                <!-- <app-charts  *ngIf="is_loading" [chartType]="'product'" [chartData]="ownerData.products"> </app-charts> -->
                <span *ngIf="is_loading"><app-loading></app-loading></span>

            </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <span style="font-size:16px;">{{ settingHeader }}</span>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                สรุปจำนวน
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout" *ngIf="ownerData && ownerData.products[0].quantity !== 0">
                <div>
                    <figure>
                        <img src="../../../../assets/icons/{{getImage(0)}}">
                    </figure>
                    <figcaption>
                        <span *ngIf="!is_loading && ownerData.products[0]" [ngStyle]="competitorColor"> {{ ownerData.products[0].quantity | number}} </span>
                        <span *ngIf="is_loading"> 0 </span> หลัง
                    </figcaption>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout " *ngIf="ownerData && ownerData.products[1].quantity !== 0">
                <div>
                    <figure>
                        <img src="../../../../assets/icons/{{getImage(1)}}">
                    </figure>
                    <figcaption>
                        <span *ngIf="!is_loading && ownerData.products[1]" [ngStyle]="competitorColor"> {{ ownerData.products[1].quantity | number }} </span>
                        <span *ngIf="is_loading"> 0 </span> หลัง
                    </figcaption>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout" *ngIf="ownerData && ownerData.products[2].quantity !== 0">
                <div>
                    <figure>
                        <img src="../../../../assets/icons/{{getImage(2)}}">
                    </figure>
                    <figcaption>
                        <span *ngIf="!is_loading && ownerData.products[2]" [ngStyle]="competitorColor"> {{ ownerData.products[2].quantity | number}} </span>
                        <span *ngIf="is_loading"> 0 </span> หลัง
                    </figcaption>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                จำนวนหลังที่ได้ทั้งหมด
                <span *ngIf="!is_loading" [ngStyle]="competitorColor"> {{ ownerData.totalQuantity | number }} </span>
                <span *ngIf="is_loading"> 0 </span> หลัง

            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                มูลค่าโครงการรวม
                <span *ngIf="!is_loading" [ngStyle]="competitorColor"> {{ ownerData.totalCost | number}} </span>
                <span *ngIf="is_loading"> 0 </span> บาท
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
              พื้นที่ส่วนกลาง
          </div>
          <div class="ui-g-1"></div>
          <div class="ui-g-11 ui-md-11 ui-lg-11 box_layout">
            สระว่ายน้ำ
            <span *ngIf="!is_loading" [ngStyle]="competitorColor"> {{ productData?.centerArea[0] | number}} </span>
            <span *ngIf="is_loading"> 0 </span> บาท
          </div>
          <div class="ui-g-1"></div>
          <div class="ui-g-11 ui-md-11 ui-lg-11 box_layout">
            ฟิตเนส
            <span *ngIf="!is_loading" [ngStyle]="competitorColor"> {{ productData?.centerArea[1] | number}} </span>
            <span *ngIf="is_loading"> 0 </span> บาท
          </div>
          <div class="ui-g-1"></div>
          <div class="ui-g-11 ui-md-11 ui-lg-11 box_layout">
            สำนักงาน
            <span *ngIf="!is_loading" [ngStyle]="competitorColor"> {{ productData?.centerArea[2] | number}} </span>
            <span *ngIf="is_loading"> 0 </span> บาท
          </div>
        </div>



    </div>
</div>
