<p-panel>
        <div class="ui-g text_cover">
           
            <app-implicit-cost></app-implicit-cost>

            <app-rate-return></app-rate-return>

            <div class="ui-g-12 ui-md-6 ui-lg-6">
                <div class="ui-g-12 ui-md-12 ui-lg-12 bg_myasset_detail">
                    <figure> <img src="../../../assets/icons/icon_law.svg">
                    </figure>
                    <figcaption>
                        <h1>ข้อกฏหมายควรรู้</h1>
                    </figcaption>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        1. ข้อกฏหมายควรรู้ 1
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        2. ข้อกฏหมายควรรู้ 2
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        3. ข้อกฏหมายควรรู้ 3
                    </div>
                </div>
            </div>
        </div>
</p-panel>