<div class="text_cover" *ngIf="products.length > 0">
    <p-dialog styleClass="mydialog" header="การแจ้งเตือน" [(visible)]="displayErrDialog">
        <span class="font-red-color"> {{ displayErrDialogMsg }}</span>
    </p-dialog>

    <h3 [ngStyle]="competitorColor"> {{ settingHeader }} <span> {{ settingSubHeader }}</span></h3>

    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                  <div class="ui-g-6 ui-md-6 ui-lg-6">
                    <h4 [ngStyle]="competitorColor"> ความกว้างและความลึกของอาคารพาณิชย์</h4>
                  </div>
                  <div class="ui-g-6 ui-md-6 ui-lg-6" style="float: right; text-align: right;">
                    <app-standard-size [standardType]="'size'" [type]="'product'" [owner]="owner"></app-standard-size>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="ui-g-6 ui-md-6 ui-lg-6">
                        <p>ความกว้าง</p>
                    </div>
                    <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value" [ngStyle]="competitorColor">
                      <input [(ngModel)]="ownerProductData.width" type="number"
                      pKeyFilter="num" pInputText class="input-slider-60" (change)="handleRatioEnd(0, $event)" />ม.
                        <!-- <p> {{ ownerProductData.width }} ม.</p> -->
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <p-slider [(ngModel)]="ownerProductData.width" [min]="product_limit.width.min" [step]="0.5"
                            [max]="product_limit.width.max" (onSlideEnd)="handleRatioEnd(0, $event)"></p-slider>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="ui-g-6 ui-md-6 ui-lg-6">
                        <p>ความลึก</p>
                    </div>
                    <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value" [ngStyle]="competitorColor">
                      <input [(ngModel)]="ownerProductData.depth" type="number"
                      pKeyFilter="num" pInputText  class="input-slider-60" (change)="handleRatioEnd(0, $event)" />ม.
                        <!-- <p> {{ ownerProductData.depth }} ม.</p> -->
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <p-slider [(ngModel)]="ownerProductData.depth" [min]="product_limit.depth.min" [step]="0.5"
                            [max]="product_limit.depth.max" (onSlideEnd)="handleRatioEnd(0, $event)"></p-slider>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="ui-g-7 ui-md-7 ui-lg-7">
                        <p>ความลึกที่จอดรถด้านหน้า</p>
                    </div>
                    <div class="ui-g-5 ui-md-5 ui-lg-5 unit_value" [ngStyle]="competitorColor">
                      <input [(ngModel)]="ownerProductData.frontDepth" type="number"
                      pInputText pKeyFilter="num" class="input-slider-60" (change)="handleRatioEnd(0, $event)" />ม.
                        <!-- <p> {{ ownerProductData.frontDepth }} ม.</p> -->
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <p-slider [(ngModel)]="ownerProductData.frontDepth" [min]="product_limit.frontDepth.min" [step]="0.5"
                            [max]="product_limit.frontDepth.max" (onSlideEnd)="handleRatioEnd(0, $event)"></p-slider>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6">
                    <div class="ui-g-7 ui-md-7 ui-lg-7">
                        <p>ความลึกที่ซักล้างด้านหลัง</p>
                    </div>
                    <div class="ui-g-5 ui-md-5 ui-lg-5 unit_value" [ngStyle]="competitorColor">
                      <input [(ngModel)]="ownerProductData.behindDepth" type="number"
                      pInputText pKeyFilter="num" class="input-slider-60" (change)="handleRatioEnd(0, $event)" />ม.
                        <!-- <p> {{ ownerProductData.behindDepth }} ม.</p> -->
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <p-slider [(ngModel)]="ownerProductData.behindDepth" [min]="product_limit.behindDepth.min" [step]="0.5"
                            [max]="product_limit.behindDepth.max" (onSlideEnd)="handleRatioEnd(0, $event)"></p-slider>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-12 ui-lg-4 form_expense">
                    <div class="form-group">
                        <label>พื้นที่ใช้สอยภายใน/1ชั้น</label><span> ตร.ม.</span>
                        <div class="expense_price">
                            <span style="display: contents" [ngStyle]="competitorColor"> {{ ownerProductData.depth * ownerProductData.width | number:'1.2-2'}}</span>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-4 form_expense">
                    <div class="form-group">
                        <label>พื้นที่ที่จอดรถด้านหน้า</label><span> ตร.ม.</span>
                        <div class="expense_price">
                          <span style="display: contents" [ngStyle]="competitorColor">{{ ownerProductData.frontDepth * ownerProductData.width | number:'1.2-2' }} </span>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-4 form_expense">
                    <div class="form-group">
                        <label>พื้นที่ที่ซักล้างด้านหลัง</label><span> ตร.ม.</span>
                        <div class="expense_price">
                            <span style="display: contents" [ngStyle]="competitorColor"> {{ ownerProductData.behindDepth * ownerProductData.width  | number:'1.2-2'}}</span>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6 form_expense">
                    <div class="form-group">
                        <label>พื้นที่ใช้สอยรวมชั้นที่ 1 </label><span> ตร.ม.</span>
                        <div class="expense_price">
                            <span style="display: contents" [ngStyle]="competitorColor">
                                {{  allArea   | number:'1.2-2'}}</span>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-6 form_expense">
                    <div class="form-group">
                        <label>พื้นที่ใช้สอยรวมชั้นที่ 1 ตารางวา</label><span> ตร.ว.</span>
                        <div class="expense_price">
                            <span style="display: contents" [ngStyle]="competitorColor">
                                {{  allArea4 | number:'1.2-2'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-4 ui-lg-6 box_layout" style="float: center;">
                พื้นที่ที่ใช้ได้ทั้งหมด <span [ngStyle]="competitorColor">{{  productData[owner].usedArea| number }}</span> ตร.ว.
            </div>
            <div class="ui-g-12 ui-md-4 ui-lg-6 box_layout" style="float: center;">
                พื้นที่คงเหลือ <span [ngStyle]="competitorColor">{{  productData[owner].remainingArea | number }}</span> ตร.ว.
            </div>
            <div style="float: right; text-align: right;">
                <app-standard-size [standardType]="'size'" [type]="'village'" [owner]="owner"></app-standard-size>
            </div>
        </div>
        <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="products[0].ratio !== '0.00'">
            <div class="wrap_product_logo">
                <img src="../../../../assets/icons/{{getImage(0)}}">
                <span [ngStyle]="competitorColor"> อาคารพาณิชย์ 2 ชั้น</span>
            </div>
        </div>
        <div class="ui-g-12 ui-md-10 ui-lg-10 slider_center" *ngIf="products[0].ratio !== '0.00'">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-6 ui-md-6 ui-lg-6 box_layout" style="text-align: center;">
                    สัดส่วน <span [ngStyle]="competitorColor"> {{products[0].ratio }}</span> %
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 box_layout" style="text-align: center;">
                    คิดเป็น <span [ngStyle]="competitorColor"> {{ products[0].ratio/100 * productData[owner].usedArea  | number:'1.2-2' }} </span> ตร.ว.
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-6 ui-md-6 ui-lg-6">
                    <p>พื้นที่ใช้สอย</p>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value">
                    <!-- <input [(ngModel)]=" products[0].area" type="text"
                      pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" /> ตร.ม. -->
                    <p [ngStyle]="competitorColor"> {{ products[0].area | number:'1.2-2' }} ตร.ม.</p>
                </div>
                <!-- <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                    <p-slider [(ngModel)]="products[0].area" [min]="product_limit.area.min"
                        [max]="product_limit.area.max" (onSlideEnd)="handleRatioEnd(0, $event)"></p-slider>
                </div> -->
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-6 ui-md-6 ui-lg-7">
                    <p>พื้นที่บันได</p>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-5 unit_value">
                    <!-- <input [(ngModel)]=" products[0].stairArea" type="text"
                    pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" /> ตร.ม. -->
                    <p [ngStyle]="competitorColor"> {{ products[0].stairArea | number:'1.2-2' }} ตร.ม.</p>
                </div>
                <!-- <div class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
                    <p-slider [(ngModel)]="products[0].stairArea" [min]="product_limit.stairArea.min"
                        [max]="product_limit.stairArea.max" (onSlideEnd)="handleRatioEnd(0, $event)"></p-slider>
                </div> -->
            </div>
            <!-- <div class="ui-g-12 ui-md-12 ui-lg-6">
              <div class="ui-g-6 ui-md-6 ui-lg-6">
                  <p>ขนาด</p>
              </div>
              <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value">
                  <input [(ngModel)]=" products[0].size" type="text"
                    pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" /> ตร.ว.
                  <p> {{ products[0].size | number:'1.2-2' }} ตร.ม.</p>
              </div>
              <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                  <p-slider [(ngModel)]="products[0].size" [min]="product_limit.size.min"
                      [max]="product_limit.size.max" (onSlideEnd)="handleRatioEnd(0, $event)"></p-slider>
              </div>
            </div> -->
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-6 ui-md-6 ui-lg-7">
                    <p>ราคาขาย</p>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-5 unit_value" [ngStyle]="competitorColor">
                    <input [(ngModel)]=" products[0].cost " type="text"
                      pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" /> ล้านบาท
                    <!-- <p> {{ products[0].cost }} ล้านบาท</p> -->
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
                    <p-slider [(ngModel)]="products[0].cost" [min]="product_limit.cost.min"
                        [max]="product_limit.cost.max" (onSlideEnd)="handleRatioEnd(0, $event)"></p-slider>
                </div>
            </div>
            <!-- <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-6 ui-md-6 ui-lg-6">
                    <p>สัดส่วน</p>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value">
                    <p> {{ products[0].ratio }} %</p>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <app-custom-slider
                        [(ngModel)]="products[0].ratio"
                        [maxTotal]="product_limit.ratio.max"
                        [commonValue]="totalRatio"
                        [min]="product_limit.ratio.min"
                        [max]="product_limit.ratio.max"
                        (onChange)="handleRatioChange(0,$event)"
                        (onSlideEnd)="handleRatioEnd(0, $event)"></app-custom-slider>
                </div>
            </div> -->
        </div>

        <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="products[1].ratio !== '0.00'">
            <div class="wrap_product_logo">
                <img src="../../../../assets/icons/{{getImage(1)}}">
                <span [ngStyle]="competitorColor"> อาคารพาณิชย์ 3 ชั้น</span>
            </div>
        </div>
        <div class="ui-g-12 ui-md-10 ui-lg-10 slider_center" *ngIf="products[1].ratio !== '0.00'">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-6 ui-md-6 ui-lg-6 box_layout" style="text-align: center;">
                    สัดส่วน <span [ngStyle]="competitorColor"> {{products[1].ratio }}</span> %
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 box_layout" style="text-align: center;">
                    คิดเป็น <span [ngStyle]="competitorColor"> {{ products[1].ratio/100 * productData[owner].usedArea  | number:'1.2-2' }} </span> ตร.ว.
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-6 ui-md-6 ui-lg-6">
                    <p>พื้นที่ใช้สอย</p>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value">
                  <!-- <input [(ngModel)]="products[1].area" type="text"
                      pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" />ตร.ม. -->
                    <p [ngStyle]="competitorColor"> {{ products[1].area | number:'1.2-2' }} ตร.ม.</p>
                </div>
                <!-- <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                    <p-slider [(ngModel)]="products[1].area" [min]="product_limit.area.min"
                        [max]="product_limit.area.max" (onSlideEnd)="handleRatioEnd(1, $event)"></p-slider>
                </div> -->
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-6 ui-md-6 ui-lg-6">
                    <p>พื้นที่บันได</p>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value">
                  <!-- <input [(ngModel)]="products[1].stairArea" type="text"
                      pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" />ตร.ม. -->
                      <p [ngStyle]="competitorColor"> {{ products[1].stairArea | number:'1.2-2' }} ตร.ม.</p>
                </div>
                <!-- <div class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
                    <p-slider [(ngModel)]="products[1].stairArea" [min]="product_limit.stairArea.min"
                        [max]="product_limit.stairArea.max" (onSlideEnd)="handleRatioEnd(1, $event)"></p-slider>
                </div> -->
            </div>
            <!-- <div class="ui-g-12 ui-md-12 ui-lg-6">
              <div class="ui-g-6 ui-md-6 ui-lg-6">
                  <p>ขนาด</p>
              </div>
              <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value">
                  <input [(ngModel)]=" products[1].size" type="text"
                    pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" /> ตร.ว.
                  <p> {{ products[1].size | number:'1.2-2' }} ตร.ม.</p>
              </div>
              <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                  <p-slider [(ngModel)]="products[1].size" [min]="product_limit.size.min"
                      [max]="product_limit.size.max" (onSlideEnd)="handleRatioEnd(0, $event)"></p-slider>
              </div>
            </div> -->
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-6 ui-md-6 ui-lg-7">
                    <p>ราคาขาย</p>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-5 unit_value" [ngStyle]="competitorColor">
                  <input [(ngModel)]="products[1].cost" type="text"
                      pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" />ล้านบาท
                    <!-- <p> {{ products[1].cost }} ล้านบาท</p> -->
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
                    <p-slider [(ngModel)]="products[1].cost" [min]="product_limit.cost.min"
                        [max]="product_limit.cost.max" (onSlideEnd)="handleRatioEnd(1, $event)"></p-slider>
                </div>
            </div>
            <!-- <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-6 ui-md-6 ui-lg-6">
                    <p>สัดส่วน</p>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value">
                    <p> {{ products[1].ratio }} %</p>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <app-custom-slider
                        [(ngModel)]="products[1].ratio"
                        [maxTotal]="product_limit.ratio.max"
                        [commonValue]="totalRatio"
                        [min]="product_limit.ratio.min"
                        [max]="product_limit.ratio.max"
                        (onChange)="handleRatioChange(1,$event)"
                        (onSlideEnd)="handleRatioEnd(1, $event)"></app-custom-slider>
                </div>
            </div> -->
        </div>

        <div class="ui-g-12 ui-md-2 ui-lg-2" *ngIf="products[2].ratio !== '0.00'">
            <div class="wrap_product_logo">
                <img src="../../../../assets/icons/{{getImage(2)}}">
                <span [ngStyle]="competitorColor"> อาคารพาณิชย์ 4 ชั้น</span>
            </div>
        </div>
        <div class="ui-g-12 ui-md-10 ui-lg-10 slider_center" *ngIf="products[2].ratio !== '0.00'">
            <div class="ui-g-12 ui-md-12 ui-lg-12">
                <div class="ui-g-6 ui-md-6 ui-lg-6 box_layout" style="text-align: center;">
                    สัดส่วน <span [ngStyle]="competitorColor"> {{products[2].ratio }}</span> %
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 box_layout" style="text-align: center;">
                    คิดเป็น <span [ngStyle]="competitorColor"> {{ products[2].ratio/100 * productData[owner].usedArea  | number:'1.2-2'}} </span> ตร.ว.
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-6 ui-md-6 ui-lg-6">
                    <p>พื้นที่ใช้สอย</p>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value">
                  <!-- <input [(ngModel)]="products[2].area" type="text"
                      pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" />ตร.ม. -->
                    <p [ngStyle]="competitorColor"> {{ products[2].area | number:'1.2-2' }} ตร.ม.</p>
                </div>
                <!-- <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                    <p-slider [(ngModel)]="products[2].area" [min]="product_limit.area.min"
                        [max]="product_limit.area.max" (onSlideEnd)="handleRatioEnd(2, $event)"></p-slider>
                </div> -->
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-6 ui-md-6 ui-lg-7">
                  <p>พื้นที่บันได</p>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-5 unit_value">
                  <!-- <input [(ngModel)]="products[2].stairArea" type="text"
                      pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" />ตร.ม. -->
                    <p [ngStyle]="competitorColor"> {{ products[2].stairArea | number:'1.2-2' }} ตร.ม.</p>
                </div>
                <!-- <div class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
                    <p-slider [(ngModel)]="products[2].stairArea" [min]="product_limit.stairArea.min"
                        [max]="product_limit.stairArea.max" (onSlideEnd)="handleRatioEnd(2, $event)"></p-slider>
                </div> -->
            </div>
            <!-- <div class="ui-g-12 ui-md-12 ui-lg-6">
              <div class="ui-g-6 ui-md-6 ui-lg-6">
                  <p>ขนาด</p>
              </div>
              <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value">
                  <input [(ngModel)]=" products[2].size" type="text"
                    pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" /> ตร.ว.
                  <p> {{ products[2].size | number:'1.2-2' }} ตร.ม.</p>
              </div>
              <div class="ui-g-12 ui-md-12 ui-lg-12 ">
                  <p-slider [(ngModel)]="products[2].size" [min]="product_limit.size.min"
                      [max]="product_limit.size.max" (onSlideEnd)="handleRatioEnd(0, $event)"></p-slider>
              </div>
            </div> -->
            <div class="ui-g-12 ui-md-12 ui-lg-12">
              <div class="ui-g-6 ui-md-6 ui-lg-7">
                  <p>ราคาขาย</p>
              </div>
              <div class="ui-g-6 ui-md-6 ui-lg-5 unit_value" [ngStyle]="competitorColor">
                <input [(ngModel)]="products[2].cost" type="text"
                    pInputText inputWithComma class="input-slider-60" (change)="handleRatioEnd(0, $event)" />ล้านบาท
                  <!-- <p> {{ products[2].cost }} ล้านบาท</p> -->
              </div>
              <div class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
                  <p-slider [(ngModel)]="products[2].cost" [min]="product_limit.cost.min"
                      [max]="product_limit.cost.max" (onSlideEnd)="handleRatioEnd(2, $event)"></p-slider>
              </div>
          </div>
            <!-- <div class="ui-g-12 ui-md-12 ui-lg-6">
                <div class="ui-g-6 ui-md-6 ui-lg-6">
                    <p>สัดส่วน</p>
                </div>
                <div class="ui-g-6 ui-md-6 ui-lg-6 unit_value">
                    <p> {{ products[2].ratio }} %</p>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12">
                    <app-custom-slider
                        [(ngModel)]="products[2].ratio"
                        [maxTotal]="product_limit.ratio.max"
                        [commonValue]="totalRatio"
                        [min]="product_limit.ratio.min"
                        [max]="product_limit.ratio.max"
                        (onChange)="handleRatioChange(2,$event)"
                        (onSlideEnd)="handleRatioEnd(2, $event)"></app-custom-slider>
                </div>
            </div> -->
        </div>

    </div>
    <!-- </form> -->
</div>
