<ng-container>
    <div class="ui-g-12 ui-md-12 ui-lg-12">
        <div class="ui-g-12 ui-md-12 ui-lg-12 bg_myasset_detail">
            <figure><img src="../../../assets/icons/icon_irr.svg">
            </figure>
            <figcaption>
                <h1
                    *ngIf="currentProperty === 'condo' || currentProperty === 'hotel' || currentProperty === 'communityMall'">
                    อัตราผลตอบแทน
                </h1>
                <h1 *ngIf="currentProperty === 'village' || currentProperty === 'townhome'">
                    IRR อัตราผลตอบแทนภายใน
                </h1>
            </figcaption>
        </div>

        <!-- กรณีเงินสด -->
        <div class="ui-g-12 ui-md-12 ui-lg-8">
            <div class="ui-g-12 ui-md-12 ui-lg-12" style="display:inline-flexbox;">
                <div class="box_layout" style="float: left;">
                    <figure>
                        <img src="../../../../../../assets/icons/cash.svg">
                    </figure>
                    <figcaption style="color: #0060be;">
                        กรณีเงินสด
                    </figcaption>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                งบลงทุน <span> {{ rateReturnData.investmentBudget | number:'1.2-2'}} </span> บาท
            </div>

            <!-- รายได้, รายรับ, รายจ่าย -->
            <ng-container
                *ngIf="currentProperty === 'village' || currentProperty === 'townhome' || currentProperty === 'condo'">
                <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                    รายรับ (ต่อเดือน) <span> {{ rateReturnData.monthlyIncome | number:'1.2-2'}} </span> บาท
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                    รายจ่าย (ต่อเดือน) <span> {{ rateReturnData.monthlyExpense | number:'1.2-2'}} </span>
                    บาท
                </div>
            </ng-container>
            <ng-container *ngIf="currentProperty === 'hotel' || currentProperty === 'communityMall'">
                <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                    รายได้ต่อเดือนสุทธิ <span> {{ rateReturnData.monthlyIncome | number:'1.2-2'}} </span>
                    บาท
                </div>
            </ng-container>

            <div class="ui-g-3 ui-md-1 ui-lg-2 box_layout">
                <strong>จุดคุ้มทุน</strong>
            </div>
            <div class="ui-g-8 ui-md-4 ui-lg-4 ">
                <div class="box_layout">จำนวนเดือน <span>
                        {{ rateReturnData.monthlyCashBreakEvenPoint | number:'1.0-0' }} </span> เดือน</div>
                <div class="box_layout"> จำนวนปี <span> {{ rateReturnData.yearCashBreakEvenPoint | number:'1.0-0' }}
                    </span> ปี</div>
            </div>
        </div>

        <!-- กรณีกู้ธนาคาร -->
        <div class="ui-g-12 ui-md-12 ui-lg-8">
            <div class="ui-g-12 ui-md-12 ui-lg-12" style="display:inline-flexbox;">
                <div class="box_layout" style="float: left;">
                    <figure>
                        <img src="../../../../../../assets/icons/bank.svg">
                    </figure>
                    <figcaption style="color: #0060be;">
                        กรณีกู้ธนาคาร
                    </figcaption>
                </div>
            </div>
            <div class="ui-g-4 ui-md-4 ui-lg-3 box_layout" style="text-align: center;">
                สัดส่วนการกู้ธนาคาร <span> {{ rateReturnData.bankInvestmentFundRatio }} %</span>
            </div>
            <div class="ui-g-4 ui-md-4 ui-lg-3" style="text-align: center; padding-top: 10px;">
                <p-slider [(ngModel)]="rateReturnData.bankInvestmentFundRatio" [min]="0" [max]="100"
                    (onChange)="handleLoanChange($event)" (onSlideEnd)="onSlideEnd($event, '')">
                </p-slider>
            </div>
            <div class="ui-g-4 ui-md-4 ui-lg-3 box_layout" style="text-align: center;">
                เงินส่วนตัว <span> {{rateReturnData.privateInvestmentFundRatio }} %</span>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-5" style="padding-top:15px;">
                อัตราดอกเบี้ย <input size="10" [(ngModel)]="rateReturnData.bankInterest"
                    (change)="inputOnChange($event)" pKeyFilter="int" type="int" pInputText /> %
                <!-- (change)="InputChange($event)"  --> <br>
                <span class="font-gray-color"> หมายเหตุ อัตราดอกเบี้ยมาตรฐานทั่วไป (ปัจจุบันอยู่ที่ 8%)</span>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-7" style="padding-top:15px;">
                อัตราผลการตอบแทนที่นักลงทุนต้องการ <input size="10" [(ngModel)]="rateReturnData.returnRate"
                    (change)="inputOnChange($event)" pKeyFilter="int" type="int" pInputText /> % ต่อปี
                <br>
                <span class="font-gray-color"> หมายเหตุ อัตราตอบแทนมาตรฐานจากการคำนวณสภาวะตลาด
                    (ปัจจุบันอยู่ที่ 13%)
                </span>
            </div>

            <!-- รายได้, รายรับ, รายจ่าย -->
            <ng-container
                *ngIf="currentProperty === 'village' || currentProperty === 'townhome' || currentProperty === 'condo'">
                <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                    รายรับ (ต่อเดือน) <span> {{ rateReturnData.monthlyIncome | number:'1.2-2'}} </span> บาท
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                    รายจ่าย (ต่อเดือน) <span> {{ rateReturnData.monthlyExpense | number:'1.2-2'}} </span>
                    บาท
                </div>
            </ng-container>
            <ng-container *ngIf="currentProperty === 'hotel' || currentProperty === 'communityMall'">
                <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                    รายได้ต่อเดือนสุทธิ <span> {{ rateReturnData.monthlyIncome | number:'1.2-2'}} </span>
                    บาท
                </div>
            </ng-container>

            <div class="ui-g-3 ui-md-1 ui-lg-2 box_layout">
                <strong>จุดคุ้มทุน</strong>
            </div>
            <div class="ui-g-8 ui-md-4 ui-lg-4 ">
                <div class="box_layout">จำนวนเดือน <span>
                        {{ rateReturnData.monthlyBankBreakEvenPoint | number:'1.0-0' }} </span> เดือน</div>
                <div class="box_layout"> จำนวนปี <span> {{ rateReturnData.yearBankBreakEvenPoint | number:'1.0-0' }}
                    </span> ปี</div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                งบกระแสเงินสด <input size="10" [(ngModel)]="rateReturnData.cashFlowYear"
                    (change)="inputOnChange($event)" pKeyFilter="int" type="int" pInputText matInputCommified /> ปี
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 form_expense">
                <div class="form-group">
                    <div class="expense_price"> </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                NPV <span> {{ rateReturnData.npv | number }} </span> บาท
                <span class="font-gray-color">
                    หมายเหตุ: NPV มีค่าไม่ติดลบจึงควรลงทุน
                </span>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                IRR <span>{{ rateReturnData.irr  | number:'1.2-2' }} </span> %
                <span class="font-gray-color">
                    หมายเหตุ IRR มีค่ามากกว่าต้นทุนทางการเงิน จึงควรลงทุน
                </span>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                ต้นทุนทางการเงิน <span>{{ rateReturnData.investmentBudget  | number:'1.2-2' }} </span> %
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                Payback Period <span>{{ rateReturnData.cashFlowDuration  | number }} </span> เดือน
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
            <div class="ui-g-12 ui-md-12 ui-lg-12" style="display:inline-flexbox;">
                <div class="box_layout" style="float: left;">
                    <figure>
                        <img src="../../../../../../assets/icons/investment.svg">
                    </figure>
                    <figcaption style="color: #0060be;">
                        การลงทุน
                    </figcaption>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12  ui-fluid">
                <div class="wrap_table_sum ">
                    <table class="table_sum_4" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>การลงทุน</td>
                            <td>จำนวน</td>
                            <td style="padding-left: 5px ;">สัดส่วน</td>
                            <td style="padding-left: 5px ;">ดอกเบี้ย</td>
                        </tr>
                        <tr>
                            <td>มูลค่าเงินลงทุน</td>
                            <td class="box_layout">
                                <span>{{ rateReturnData.investmentBudget | number:'1.2-2' }}</span> </td>
                            <td class="box_layout">
                                <span>{{ rateReturnData.ratioInvestmentValue | number }}</span> % </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>ส่วนทุน</td>
                            <td class="box_layout">
                                <span>{{ rateReturnData.personalInvestmentBudget  | number:'1.2-2' }}</span> </td>
                            <td class="box_layout">
                                <!-- <span>{{ rateReturnData.ratioPrivateFund  | number:'1.2-2' }}</span> %</td> -->
                                <span>{{ rateReturnData.privateCash  | number:'1.2-2' }}</span> %</td>

                            <td class="box_layout">
                                <!-- <span>{{ rateReturnData.interestPrivateFund  | number:'1.2-2' }}</span>% -->
                                <span>{{ rateReturnData.returnRate  | number:'1.2-2' }}</span>%
                            </td>
                        </tr>
                        <tr>
                            <td>ส่วนเงินกู้</td>
                            <td class="box_layout">
                                <span>{{ rateReturnData.bankInvestmentBudget | number:'1.2-2' }}</span> </td>
                            <td class="box_layout">
                                <!-- <span>{{ rateReturnData.ratioBorrowFund | number:'1.2-2' }}</span> %</td> -->
                                <span>{{ rateReturnData.bankLoad | number:'1.2-2' }}</span> %</td>
                            <td class="box_layout">
                                <!-- <span>{{ rateReturnData.interestBorrowFund | number:'1.2-2' }}</span> %</td> -->
                                <span>{{ rateReturnData.bankInterest  | number:'1.2-2' }}</span>%
                        </tr>
                    </table>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                ต้นทุนทางการเงินเฉลี่ย (WACC) <span>{{ rateReturnData.wacc  | number:'1.2-2' }}
                </span> %
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 box_layout">
                ระยะเวลากู้ธนาคาร <span>{{ rateReturnData.borrowPeriod  | number }} </span> ปี
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            *หากต้องการข้อมูลเชิงละเอียด สามารถกดเข้าใช้งานการคำนวณ Feasibility แบบละเอียด
            <span>
                <button pButton type="button" label="ที่นี่"></button>
            </span>
        </div>
    </div>
</ng-container>
