<apx-chart
  #chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [title]="chartOptions.title"
  [legend]="chartOptions.legend"
  [colors]="chartOptions.colors"
  [labels]="chartOptions.labels"
  [dataLabels]="chartOptions.dataLabels"
  [tooltip]="chartOptions.tooltip"
  [responsive]="chartOptions.responsive"
  [autoUpdateSeries]="true"
></apx-chart>

<!-- <div
  style="
    width: 120px;
    height: 75px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 15px 0;
    font-weight: 600;
    box-shadow: 1px 1px 6px 0px grey;
    border-radius: 25px;
  "
>
  <span> หลัง A </span>
  <br />
  <span style="color: blue"> 25 หลัง </span>
  <br />
  <span style="color: orange"> = 25.25 % </span>
</div> -->
