.name-project{
  font-size: 18px;
  margin-right: 15px;
}
.ui-inputtext{
  width: 30vw !important;
}
.button-click{
  border: 0;
  float: right;
  padding: 10px;
  color: white;
  background-color: #1f749f;
  border-radius: 15px;
  color: white;
}
p-panel{
  background-color: transparent;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent !important;
}

.mat-button-toggle{
  width: 260px;
  border: 1px solid #e0e0e0;
  border-radius: 20px 20px 0 0;
  box-shadow: 17px 20px 20px 15px #888888;
}

.mat-button-toggle-checked{
  border: 1px solid white !important;
}

.mat-group{
  margin: 0 5%;
}

span.box-color{
  color: #1f749f;
  font-weight: 600;
}

.bg-white {
  padding-top: 2%;
  background-color: white;
}

mat-button-toggle-group{
  border: 0;
  background: transparent;
  padding-top: 15px;
}

