.name-project{
  font-size: 18px;
  margin-right: 15px;
}
.ui-inputtext{
  width: 30vw !important;
}
.button-click{
  border: 0;
  float: right;
  padding: 10px;
  color: white;
  background-color: #1f749f;
  border-radius: 15px;
  color: white;
}
p-panel{
  background-color: transparent;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent !important;
}

.mat-button-toggle{
  width: 250px;
}

.mat-group{
  margin: 0 5%;
}

span.box-color{
  color: #1f749f;
  font-weight: 600;
}

