.product-type {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  cursor: pointer;
}

.product-type > figure {
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #eff5f7;
  margin: 10px;
}

.product-type > figure > img {
  width: 63px;
  height: auto;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-type > figcaption {
  display: inline-block;
  width: calc(100% - 100px);
  padding-left: 40px;
  padding-top: 5px;
  vertical-align: top;
}

.product-type > figcaption > .type {
  font-size: 30px;
  font-weight: 500;
}

.product-type > figcaption > .caption {
  font-size: 17px;
  margin: 0;
}

.product-type.active {
  background-image: linear-gradient(60deg, #085d84, #237aa4);
  color: white;
  cursor: pointer;
}

.padding-0 {
  padding: 0;
}

.land-price {
  font-size: 40px;
  font-weight: 500;
}

.float-right > span {
  float: right;
}

.all-price {
  color: #0a5f86;
}

.price-num {
  color: #fd9227;
}

.date {
  color: #4b90b2;
}

.price-unit {
  font-size: 22px;
}

.all-building {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0;
}

.all-building span {
  padding: 0 30px;
  color: #4b90b2;
}

.all-type {
  padding: 0 20px;
}

.all-type > figure {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #085d84;
  margin: 10px;
}

.all-type > figure > img {
  width: 25px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.all-type > figcaption {
  display: inline-block;
  padding-left: 10px;
  padding-top: 15px;
  vertical-align: top;
}

.all-type > figcaption span {
  font-size: 18px;
  font-weight: 500;
}

.all-type > figcaption span > p {
  display: inline-block;
  margin: 0 0 0 15px;
  color: #085d84;
  font-weight: 600;
}

.icon-word i {
  font-size: 1.75em;
  color: #085d84;
}

.icon-word span {
  position: relative;
  bottom: 10px;
}

.disabled {
  opacity: 0.4;
}

input {
  text-align: center;
  color: #007ad9;
  font-weight: 600;
  margin-right: 5px;
  border-radius: 10px;
}

.font-unit {
  font-size: 15px;
}

@media (max-width: 767px) {
  .land-price {
    font-size: 32px;
    font-weight: 500;
  }

  .all-type {
    padding: 0;
  }
}
