<div class="ui-g" style="padding: 10px">
  <div class="ui-g-12 ui-md-12 ui-lg-12 bg_myasset_detail">
    <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
    <figcaption>
      <h1>Product Detail</h1>
    </figcaption>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="ui-g-12 ui-md-12 ui-lg-4">
      <div
        class="product-type"
        (click)="changeType('houseType')"
        [ngClass]="{ active: typeProductDetail == 'houseType' }"
      >
        <figure><img src="../../../assets/images/house_type_top.jpg" /></figure>
        <figcaption>
          <span class="type">House Type</span>
          <p class="caption">รูปแบบบ้านและค่่าใช้จ่าย</p>
        </figcaption>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-4">
      <div
        class="product-type"
        (click)="changeType('commonArea')"
        [ngClass]="{ active: typeProductDetail == 'commonArea' }"
      >
        <figure><img src="../../../assets/images/common_area_top.jpg" /></figure>
        <figcaption>
          <span class="type">Common area</span>
          <p class="caption">ค่าใช่จ่ายส่วนกลางและอื่นๆ</p>
        </figcaption>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-4">
      <div
        class="product-type"
        (click)="changeType('operation')"
        [ngClass]="{ active: typeProductDetail == 'operation' }"
      >
        <figure><img src="../../../assets/images/operation_top.jpg" /></figure>
        <figcaption>
          <span class="type">Operation</span>
          <p class="caption">ค่าใช่จ่ายรายเดือนและอื่นๆ</p>
          <h3></h3>
        </figcaption>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <div>
      <div *ngIf="typeProductDetail == 'houseType'">
        <div class="ui-g-12 ui-md-5 ui-lg-4">
          <app-charts [chartType]="'houseType'"> </app-charts>
        </div>
        <div class="ui-g-12 ui-md-7 ui-lg-8">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-6">
              <div class="ui-g-12 ui-md-12 ui-lg-12 land-price padding-0">
                <span class="all-price">มูลค่าโครงการรวม</span>
              </div>
              <div class="ui-g-12 ui-md-12 ui-lg-12 padding-0">
                <span class="date">1 Jun - 30 Jul 2020</span>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-6">
              <div
                class="ui-g-12 ui-md-12 ui-lg-12 land-price float-right padding-0"
              >
                <span class="price-num">25,000,000,000</span>
              </div>
              <div class="ui-g-12 ui-md-12 ui-lg-12 padding-0 float-right">
                <span class="all-price price-unit">บาท</span>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 padding-0">
              <p class="all-building">จำนวนทั้งหมด <span>485</span> หลัง</p>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12 ui-lg-4 all-type">
              <figure>
                <img src="../../../assets/icons/checkup-list.svg" />
              </figure>
              <figcaption>
                <span
                  >Type A
                  <p>243 หลัง</p></span
                >
              </figcaption>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-4 all-type">
              <figure>
                <img src="../../../assets/icons/checkup-list.svg" />
              </figure>
              <figcaption>
                <span
                  >Type B
                  <p>121 หลัง</p></span
                >
              </figcaption>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-4 all-type">
              <figure>
                <img src="../../../assets/icons/checkup-list.svg" />
              </figure>
              <figcaption>
                <span
                  >Type C
                  <p>121 หลัง</p></span
                >
              </figcaption>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="typeProductDetail == 'commonArea'">
      <app-common-area (toggleEdit)="onSummit($event)"></app-common-area>
    </div>
  </div>
  <div *ngIf="typeProductDetail == 'operation'">
    <app-operation (toggleEdit)="onSummit($event)"></app-operation>
  </div>
</div>
<div *ngIf="typeProductDetail == 'houseType'">
  <app-house-type (toggleEdit)="onSummit($event)"></app-house-type>
</div>
