<div class="ui-g" style="padding: 10px">
  <div class="ui-g-12 ui-md-12 ui-lg-12 bg_myasset_detail">
    <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
    <figcaption>
      <h1>Product Detail</h1>
    </figcaption>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <div class="ui-g-12 ui-md-12 ui-lg-4">
      <div
        class="product-type"
        (click)="changeType('houseType')"
        [ngClass]="{ active: typeProductDetail == 'houseType' }"
      >
        <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
        <figcaption>
          <span class="type">House Type</span>
          <p class="caption">รูปแบบบ้านและค่่าใช้จ่าย</p>
        </figcaption>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-4">
      <div
        class="product-type"
        (click)="changeType('commonArea')"
        [ngClass]="{ active: typeProductDetail == 'commonArea' }"
      >
        <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
        <figcaption>
          <span class="type">Common area</span>
          <p class="caption">ค่าใช่จ่ายส่วนกลางและอื่นๆ</p>
        </figcaption>
      </div>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-4">
      <div
        class="product-type"
        (click)="changeType('operation')"
        [ngClass]="{ active: typeProductDetail == 'operation' }"
      >
        <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
        <figcaption>
          <span class="type">Operation</span>
          <p class="caption">ค่าใช่จ่ายรายเดือนและอื่นๆ</p>
          <h3></h3>
        </figcaption>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-12">
    <div>
      <div *ngIf="typeProductDetail == 'houseType'">
        <div class="ui-g-12 ui-md-5 ui-lg-4">
          <app-charts [chartType]="'houseType'"> </app-charts>
        </div>
        <div class="ui-g-12 ui-md-7 ui-lg-8">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6 ui-lg-6">
              <div class="ui-g-12 ui-md-12 ui-lg-12 land-price padding-0">
                <span class="all-price">ค่าที่ดินทั้งหมด</span>
              </div>
              <div class="ui-g-12 ui-md-12 ui-lg-12 padding-0">
                <span class="date">1 Jun - 30 Jul 2020</span>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-6">
              <div
                class="ui-g-12 ui-md-12 ui-lg-12 land-price float-right padding-0"
              >
                <span class="price-num">25,000,000,000</span>
              </div>
              <div class="ui-g-12 ui-md-12 ui-lg-12 padding-0 float-right">
                <span class="all-price price-unit">บาท</span>
              </div>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-12 padding-0">
              <p class="all-building">จำนวนทั้งหมด <span>25</span> หลัง</p>
            </div>
          </div>
          <div class="ui-g-12 ui-md-12 ui-lg-12">
            <div class="ui-g-12 ui-md-12 ui-lg-4 all-type">
              <figure>
                <img src="../../../assets/icons/checkup-list.svg" />
              </figure>
              <figcaption>
                <span
                  >Type A
                  <p>243 หลัง</p></span
                >
              </figcaption>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-4 all-type">
              <figure>
                <img src="../../../assets/icons/checkup-list.svg" />
              </figure>
              <figcaption>
                <span
                  >Type B
                  <p>243 หลัง</p></span
                >
              </figcaption>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-4 all-type">
              <figure>
                <img src="../../../assets/icons/checkup-list.svg" />
              </figure>
              <figcaption>
                <span
                  >Type C
                  <p>243 หลัง</p></span
                >
              </figcaption>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="typeProductDetail == 'houseType'">
  <div
    class="ui-g-12 ui-md-12 ui-lg-12"
    style="background: white; margin-top: 10px"
  >
    <div
      class="ui-g-1 ui-md-1 ui-lg-1 icon-arrow"
      type="button"
      [ngClass]="{ disabled: start_house === 0 }"
      (click)="decreasedIndex()"
    >
      <i class="pi pi-caret-left"></i>
    </div>
    <div class="ui-g-10 ui-md-10 ui-lg-10">
      <div class="wrap_product_logo">
        <img src="../../../../assets/icons/{{ getImage(start_house) }}" />
        <span>{{ getWordingType(start_house) }}</span>
      </div>
    </div>
    <div
      class="ui-g-1 ui-md-1 ui-lg-1 icon-arrow"
      type="button"
      [ngClass]="{ disabled: start_house === 2 }"
      (click)="increacedIndex()"
    >
      <i class="pi pi-caret-right"></i>
    </div>
    <div class="ui-g-12 ui-md-4 ui-lg-3">
      <div class="img-container">
        <img src="../../../assets/images/house1.jpg" class="img-house" />
        <div class="word-img">
          {{ getWordingType(start_house) }}
        </div>
      </div>
      <div class="ui-g bottom-img-box">
        <div class="ui-g-12 ui-md-12 ui-lg-12 word-box">
          <figure><i class="pi pi-home" style="padding-left: 5px"></i></figure>
          <figcaption>
            <p class="type" style="float: left">ประเภทสินทรัพย์ :</p>
            <p style="float: right">บ้านเดี่ยว 1 ชั้น</p>
          </figcaption>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12 word-box">
          <figure>
            <i class="pi pi-map-marker" style="padding-left: 5px"></i>
          </figure>
          <figcaption>
            <p class="type" style="float: left">พื้นที่ใช้สอย :</p>
            <p style="float: right">120.6 ตร.ม.</p>
          </figcaption>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-12 word-box">
          <figure>
            <i class="pi pi-money-bill" style="padding-left: 5px"></i>
          </figure>
          <figcaption>
            <p class="type" style="float: left">ราคา :</p>
            <p style="float: right">5,900,000.-</p>
          </figcaption>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-8 ui-lg-9">
      <!-- ข้อมูลการขาย -->
      <div class="ui-g-12 ui-md-12 ui-lg-12 detail">
        <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
        <figcaption>
          <span class="type">รูปแบบการกำหนดยอดขาย</span>
        </figcaption>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box">
        <div
          class="ui-g-2 ui-md-2 ui-lg-2"
          style="text-align: center; margin-top: 5px"
        >
          <span>กำหนดเอง</span>
        </div>

        <div class="ui-g-7 ui-md-7 ui-lg-7" style="text-align: center">
          <p-calendar
            dateFormat="mm/dd/yy"
            [showButtonBar]="true"
            [showIcon]="true"
          ></p-calendar>
          <span style="margin: 0 10px">ถึง</span>

          <p-calendar
            dateFormat="mm/dd/yy"
            [showButtonBar]="true"
            [showIcon]="true"
          ></p-calendar>
        </div>
        <div
          class="ui-g-3 ui-md-3 ui-lg-3"
          style="text-align: center; margin-top: 5px"
        >
          ระยะเวลาขาย 4 เดือน
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 detail">
        <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
        <figcaption>
          <span class="type">ระบุข้อมูลการขาย</span>
        </figcaption>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box-new">
        <div class="ui-g-4 ui-md-4 ui-lg-4" style="margin-top: 5px">
          <span>จำนวนที่ต้องการขาย</span>
        </div>

        <div class="ui-g-8 ui-md-8 ui-lg-8">
          <input
            size="4"
            pKeyFilter="int"
            type="text"
            pInputText
            matInputCommified
          />
          <span>หลัง/เดือน</span>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box-new">
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>แปลงมุม</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">หลัง</span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ขนาดพื้นที่</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">ตร.ว.</span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ราคาขายต่อ ตร.ม.</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ราคาบ้าน</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5 non-input">
            <span class="non-input-font">10,000,000</span>
            <span class="font-unit">บาท</span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>เงินจอง</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>เงินดาวน์</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ค่าทำสัญญา</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ค่าโอนกรรมสิทธิ์</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>แปลงกลาง</span>
          </div>

          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">หลัง</span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ขนาดพื้นที่</span>
          </div>

          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">ตร.ว.</span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ราคาขายต่อ ตร.ม.</span>
          </div>

          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ราคาบ้าน</span>
          </div>

          <div class="ui-g-5 ui-md-5 ui-lg-5 non-input">
            <span class="non-input-font">10,000,000</span>
            <span class="font-unit">บาท</span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>เงินจอง</span>
          </div>

          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>เงินดาวน์</span>
          </div>

          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ค่าทำสัญญา</span>
          </div>

          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ค่าโอนกรรมสิทธิ์</span>
          </div>

          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
        </div>
      </div>
      <!-- การกู้ -->
      <div class="ui-g-12 ui-md-12 ui-lg-12 detail">
        <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
        <figcaption>
          <span class="type">การกู้ การคำนวนเงินกู้แบงค์</span>
        </figcaption>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box-new">
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span> เงินดาวน์</span>
          </div>

          <div class="ui-g-5 ui-md-5 ui-lg-5 non-input">
            <span class="non-input-font">10,000,000</span>
            <span class="font-unit">บาท</span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ดอกเบี้ย</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>

          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ลูกค้าผ่อนต่อเดือน</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>จำนวนงวด</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">งวด </span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span> เงินดาวน์</span>
          </div>

          <div class="ui-g-5 ui-md-5 ui-lg-5 non-input">
            <span class="non-input-font">10,000,000</span>
            <span class="font-unit">บาท</span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ดอกเบี้ย</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>

          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>ลูกค้าผ่อนต่อเดือน</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท </span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7" style="margin-top: 5px">
            <span>จำนวนงวด</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">งวด </span>
          </div>
        </div>
      </div>
      <!-- ข้อมูลการก่อสร้าง -->
      <div class="ui-g-12 ui-md-12 ui-lg-12 detail">
        <figure><img src="../../../assets/icons/checkup-list.svg" /></figure>
        <figcaption>
          <span class="type">ข้อมูลการก่อสร้าง</span>
        </figcaption>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box">
        <div
          class="ui-g-3 ui-md-3 ui-lg-3"
          style="text-align: center; margin-top: 5px"
        >
          <span>กำหนดระยะเวลาการก่อสร้าง</span>
        </div>

        <div class="ui-g-6 ui-md-6 ui-lg-6" style="text-align: center">
          <p-calendar
            dateFormat="mm/dd/yy"
            [showButtonBar]="true"
            [showIcon]="true"
          ></p-calendar>
          <span style="margin: 0 10px">ถึง</span>

          <p-calendar
            dateFormat="mm/dd/yy"
            [showButtonBar]="true"
            [showIcon]="true"
          ></p-calendar>
        </div>
        <div
          class="ui-g-3 ui-md-3 ui-lg-3"
          style="text-align: center; margin-top: 5px"
        >
          ระยะเวลาขาย 4 เดือน
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box">
        <div
          class="ui-g-3 ui-md-3 ui-lg-3"
          style="text-align: center; margin-top: 5px"
        >
          <span>อัตราการสร้างต่อหลัง</span>
        </div>

        <div
          class="ui-g-9 ui-md-9 ui-lg-9"
          style="text-align: left; margin-top: 5px"
        >
          <span style="margin-right: 20px; font-weight: 500; color: orange"
            >6</span
          >
          / เดือน
        </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-12 detail-box-new">
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <div class="ui-g-7 ui-md-7 ui-lg-7 icon-word" style="margin-top: 5px">
            <i class="pi pi-table"></i><span>ค่าก่อสร้างต่อหลัง</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท</span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7 icon-word" style="margin-top: 5px">
            <i class="pi pi-exclamation-triangle"></i
            ><span>Electrical Supply</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท</span>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <div class="ui-g-7 ui-md-7 ui-lg-7 icon-word " style="margin-top: 5px">
            <i class="pi pi-globe"></i><span>Water Supply</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท</span>
          </div>
          <div class="ui-g-7 ui-md-7 ui-lg-7 icon-word" style="margin-top: 5px">
            <i class="pi pi-tag"></i><span>Other</span>
          </div>
          <div class="ui-g-5 ui-md-5 ui-lg-5">
            <input
              size="8"
              pKeyFilter="int"
              type="text"
              pInputText
              matInputCommified
            />
            <span class="font-unit">บาท</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
